<% provide(:title, "About") %>
<h1>Sample App</h1>
<p>
  The <a href=""><em>Sample App</em></a> is an
  app built by
  <a href="https://twitter.com/jaythaceo">Jaythaceo</a>
  and <a href="https://twitter.com/GumbsWebDesign">Corey</a>
</p>