<h1>Sample App</h1>
<p>
  Fork the repo to contribute.
 <a href="https://github.com/jaythaceo/Project1">GitHub repo</a><br>
  Questions and contact.
  <a href="https://twitter.com/jaythaceo">Twitter</a>
</p>