<h1>Sample App</h1>
<p>
  Get help from any of our devs
  <a href="https://github.com/jaythaceo/Project1">GitHub repo</a><br>
  Also fork the repo to contribute.<br>
  <a href="https://twitter.com/jaythaceo">Twitter</a>
</p>